{% extends "base.html" %}
{% block content %} 
    
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>About Our Website</h1>
        <p>
            Our website offers various features to simplify URL management. You can shorten long URLs to make them more compact and easier to share. Additionally, you have the option to customize the shortened URLs with your own desired keywords.
        </p>
        <p>
            We also provide QR code generation for the shortened URLs, allowing you to quickly share them in printed or digital media. Simply scan the QR code with a compatible device to access the corresponding URL.
        </p>
        <p>
            Furthermore, our website tracks the number of clicks each shortened URL receives. This helps you monitor the popularity and effectiveness of your shared links.
        </p>

    </div>
    
    <!-- Include additional information or sections as needed -->
</body>

{%endblock content %}